@media screen and (max-width: 600px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media screen and (max-width: 600px) {
  ._pc {
    display: block;
  }
}

* {
  min-height: 0;
  min-width: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "proxima-nova", "source-han-sans-japanese" , sans-serif;
  background: #000;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9999;
}

.loading .animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  -webkit-animation: loadinganimation 1500ms ease-out forwards infinite;
          animation: loadinganimation 1500ms ease-out forwards infinite;
}

@-webkit-keyframes loadinganimation {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
}

@keyframes loadinganimation {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  header {
    height: 8vh;
  }
}

header .h-left {
  height: 100%;
}

header .h-left a {
  position: relative;
  height: 100%;
  z-index: 100;
  display: inline-block;
  margin-left: 3%;
}

header .h-left a h2 {
  line-height: 10vh;
  font-size: 2rem;
  height: 100%;
  color: #fff;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  header .h-left a h2 {
    line-height: 8vh;
    font-size: 1.5rem;
  }
}

header .h-right {
  width: 100%;
  z-index: 100;
  height: 100%;
}

header .h-right .menu-trigger {
  display: inline-block;
  width: 2.25rem;
  height: 1.75rem;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 100;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transform: transform .5s;
          transform: transform .5s;
}

@media screen and (max-width: 600px) {
  header .h-right .menu-trigger {
    top: 2%;
    right: 3%;
    width: 2rem;
  }
}

header .h-right .menu-trigger .trigger > span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

header .h-right .menu-trigger .trigger > span:nth-of-type(1) {
  top: 0;
}

header .h-right .menu-trigger .trigger > span:nth-of-type(2) {
  top: 12px;
}

header .h-right .menu-trigger .trigger > span:nth-of-type(3) {
  bottom: 0;
}

header .h-right .active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .h-right .active span {
  background-color: #fff;
}

header .h-right .active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
  -webkit-transition: .5s;
  transition: .5s;
}

header .h-right .active span:nth-of-type(2) {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header .h-right .active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
  -webkit-transition: .5s;
  transition: .5s;
}

header .h-right .nav-wrap {
  position: relative;
}

header .h-right .nav-wrap nav {
  font-weight: bold;
  display: block;
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .9;
}

header .h-right .nav-wrap nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .h-right .nav-wrap nav ul li {
  color: #fff;
  text-align: center;
  padding: 3vh 0;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 600px) {
  header .h-right .nav-wrap nav ul li {
    font-size: 1.5rem;
  }
}

header .h-right .nav-wrap nav ul li a {
  position: relative;
  color: #fff;
  padding: 0;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .5;
}

@media screen and (max-width: 600px) {
  header .h-right .nav-wrap nav ul li a {
    opacity: 1;
  }
}

header .h-right .nav-wrap nav ul li a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

header .h-right .nav-wrap nav ul .h-icon > a {
  padding: 0 1em;
}

header .h-right .nav-wrap nav ul .h-copyright {
  width: 100vw;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.display {
  background: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

main {
  z-index: 40;
  background-image: url(../../../img/main.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

main .m-wrap {
  z-index: 50;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .5;
  position: absolute;
}

main h1 {
  z-index: 100;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  z-index: 150;
  color: #fff;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .next-page {
  background-image: url(../../img/arrow.png);
  background-size: cover;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 150;
  opacity: 1;
  width: 60px;
  height: 45px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .next-page:hover {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  -webkit-transition: .5s;
  transition: .5s;
}

main .next-page a {
  display: block;
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100%;
}

.featured h2 {
  font-size: 1.8rem;
  letter-spacing: 5px;
  text-align: center;
  padding: 5vh;
  font-weight: bold;
  background: #333;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .featured h2 {
    font-size: 1.5rem;
  }
}

.featured .f-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .featured .f-lists {
    display: block;
  }
}

.featured .f-lists .f-picture {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .featured .f-lists .f-picture {
    width: 100%;
    height: 30vh;
  }
}

.featured .f-lists .f-picture a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.featured .f-lists .f-picture a:hover .img-wrap img {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.featured .f-lists .f-picture a:hover .view-wrap {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.featured .f-lists .f-picture a:hover .icon {
  opacity: 1;
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.featured .f-lists .f-picture a .img-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 40;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.featured .f-lists .f-picture a .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.featured .f-lists .f-picture a .view-wrap {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.featured .f-lists .f-picture a .view-wrap .t {
  font-weight: bold;
  font-size: 1.25rem;
}

.featured .f-lists .f-picture a .view-wrap .st {
  color: #F2F2F2;
}

.featured .f-lists .f-picture a .view-wrap .d {
  color: #D3D3D3;
  font-size: 0.5rem;
}

.featured .f-lists .f-picture a .icon {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  right: 40px;
  z-index: 100;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.featured .view-more {
  position: relative;
  text-align: center;
  background: #333;
  height: 10vh;
}

@media screen and (max-width: 600px) {
  .featured .view-more {
    height: 8vh;
  }
}

.featured .view-more a {
  display: block;
  z-index: 50;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: .5;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
}

.featured .view-more a:hover {
  opacity: 1;
}

.featured .view-more a p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .featured .view-more a p {
    font-size: .8rem;
  }
}

.company {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10vh 0;
}

.company .c-items h2 {
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .company .c-items h2 {
    font-size: 1.2rem;
  }
}

.company .c-items p {
  color: #D3D3D3;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.company .c-items .c-detail a {
  display: inline-block;
  height: 100%;
  opacity: .5;
  color: #D3D3D3;
  -webkit-transition: .5s;
  transition: .5s;
}

.company .c-items .c-detail a:hover {
  opacity: 1;
}

.company .c-items .contact a {
  position: relative;
  background: #333;
  width: 150px;
  height: 36px;
  display: inline-block;
  z-index: 50;
  color: #D3D3D3;
  font-size: 0.75rem;
  border-radius: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

.company .c-items .contact a:hover {
  background: #D3D3D3;
}

.company .c-items .contact a:hover p {
  color: #000;
}

.company .c-items .contact a p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-main {
  position: relative;
}

.work-main .slider {
  height: 60vh;
}

.work-main .slider .slide-wrap {
  height: 60vh;
  position: relative;
}

.work-main .slider .slide-wrap a {
  display: block;
  height: 100%;
  position: relative;
  z-index: 100;
}

.work-main .slider .slide-wrap a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.work-main .slider .slide-wrap a .view-wrap {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  -webkit-transition: 2s;
  transition: 2s;
}

.work-main .slider .slide-wrap a .view-wrap .t {
  font-weight: bold;
  font-size: 1.25rem;
}

.work-main .slider .slide-wrap a .view-wrap .st {
  color: #F2F2F2;
}

.work-main .slider .slide-wrap a .view-wrap .d {
  color: #D3D3D3;
  font-size: 0.5rem;
}
/*# sourceMappingURL=style.css.map */
