main{
    z-index:40;
    background-image:url(../../img/main.jpg);
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:center;
    position:relative;

    .m-wrap{
        z-index:50;
        background-color:cl(black);
        width:100%;
        height:100%;
        opacity:.5;
        position:absolute;
    }
    h1{
        z-index:100;
        text-align:center;
        font-weight:bold;
        font-size:2rem;
        z-index:150;
        color:cl(white);
        letter-spacing: 0.5rem;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .next-page{
        background-image:url(../../img/arrow.png);
        background-size:cover;
        position:absolute;
        bottom:25px;
        left:50%;
        transform:translate(-50%,0);
        z-index:150;
        opacity:1;
        width:60px;
        height:45px;
        cursor:pointer;
        transition:0.5s;

        &:hover{
            transform:translate(-50%,10px);
            transition:.5s;
        }
        a{
            display:block;
            position:relative;
            z-index:50;
            width:100%;
            height:100%;
        }
    }
}