header{
    height:10vh;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    @include overTab{
        height:8vh;
    }

    .h-left{
        height:100%;

        a{
            position:relative;
            height:100%;
            z-index:100;
            display:inline-block;
            margin-left:3%;

            h2{
                line-height:10vh;
                font-size:2rem;
                height:100%;
                color:cl(white);
                letter-spacing: 0.5rem;
                font-weight:bold;
                @include overTab{
                    line-height:8vh;
                    font-size:1.5rem;
                }
            }
        }
    }
    .h-right{
        width:100%;
        z-index:100;
        height:100%;

        .menu-trigger{
            display:inline-block;
            width:2.25rem;
            height:1.75rem;
            cursor: pointer;
            position:fixed;
            top:3%;
            right:3%;
            z-index:100;
            transform:translate(0);
            transform:transform .5s;
            @include overTab{
                top:2%;
                right:3%;
                width:2rem;
            }

            .trigger>span{
                display:inline-block;
                box-sizing:border-box;
                position:absolute;
                left:0;
                width:100%;
                height:4px;
                background-color:cl(white);
                transition:.5s;

                &:nth-of-type(1){
                    top:0;
                }
                &:nth-of-type(2){
                    top:12px;
                }
                &:nth-of-type(3){
                    bottom:0;
                }
            }
        }
        .active{
            transform:translateX(0);

            span{
                background-color:cl(white);

                &:nth-of-type(1){
                    transform:translateY(12px) rotate(-45deg);
                    transition:.5s;
                }
                &:nth-of-type(2){
                    opacity:0;
                    transition:.5s;
                }
                &:nth-of-type(3){
                    transform:translateY(-12px) rotate(45deg);
                    transition:.5s;
                }
            }
        }
        .nav-wrap{
            position:relative;

            nav{
                font-weight:bold;
                display:block;
                z-index:50;
                position:fixed;
                top:0;
                right:0;
                width:100%;
                height:100%;
                background-color:cl(black);
                opacity:.9;

                ul{
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);

                    li{
                        color:cl(white);
                        text-align:center;
                        padding:3vh 0;
                        font-size:2rem;
                        letter-spacing:0.5rem;
                        @include overTab{
                            font-size:1.5rem;
                        }

                        a{
                            position:relative;
                            color:cl(white);
                            padding:0;
                            transition:.5s;
                            opacity:.5;
                            @include overTab{
                                opacity:1;
                            }

                            &:hover{
                                transition:.5s;
                                opacity:1;
                            }
                        }
                    }
                    .h-icon>a{
                        padding:0 1em;
                    }
                    .h-copyright{
                        width:100vw;
                        font-size:0.8rem;
                        letter-spacing:2px;
                    }
                }
            }
        }
    }
}
.display{
    background:cl(black);
    transition:.5s;
}